@media screen and (max-width: 768px) {

  .comparison-table {
    /* General table styling */
    width: 100%; /* Adjust as needed */
    border-collapse: collapse;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding: 10px; /* Adjust as needed */
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .dimension-row {
    /* Optional styling for dimension rows (e.g., background color) */
  }
  
  .dimension-separator {
    /* Style for the separator row */
    background-color: #eee; /* Light gray background for separation */
    font-weight: bold;
  }
  
  .massive-dimension-text {
    /* Style for the "Dimensions" text */
    font-size: 30px; /* Slightly larger font */
    text-align: center; /* Center alignment */
    padding: 5px; /* Add some padding */
    margin-left: 25%;
  }
  

  #compare-value-display{
    width: 20%;
  }

  #compare-icon-container-display-page-2{
    margin-left: 40px;
    margin-top: 14px;
    width: 60px;
    height: 60px;;
  }
  #compare_icon_display-2{
    width: 60px;
    height: 47px;
    margin-left: 87px;
  }
  #compare_icon{
  
    width: 60px;
    height: 47px;;
  }
  #compare-dropdown-2{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 150px;
    height: 400px;
    border-radius: 3px;
    margin-left: 87px;
    outline: 2px solid rgb(192, 189, 189)
  }
}

@media (min-width: 992px) {
  #compare-icon-container-display-page-2{
    margin-left: 40px;
    margin-top: 14px;
    width: 60px;
    height: 60px;;
  }
  #compare_icon_display{
    width: 60px;
    height: 47px;;
  }
  #compare_icon{
  
    width: 60px;
    height: 47px;;
  }
  .comparison-table {
    /* General table styling */
    width: 100%; /* Adjust as needed */
    border-collapse: collapse;
  }
  .plane_compare_title{
    font-size: 30px;
  }
  
  .comparison-table th,
  .comparison-table td {
    padding: 10px; /* Adjust as needed */
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .dimension-row {
    /* Optional styling for dimension rows (e.g., background color) */
  }
  
  .dimension-separator {
    /* Style for the separator row */
    background-color: #eee; /* Light gray background for separation */
    font-weight: bold;
  }
  
  .massive-dimension-text {
    /* Style for the "Dimensions" text */
    font-size: 30px; /* Slightly larger font */
    text-align: center; /* Center alignment */
    padding: 5px; /* Add some padding */
    margin-left: 45%;
  }
  
  
  #compare-value-display{
    width: 20%;
  }
  
  
}

