
#plane_img{
  max-width: 800px;
  max-height: 400px;
}





/*this is for mobile UI*/
@media (max-width: 768px) { /* For screens less than 768px wide */
  .nav-bar {
    position: sticky !important;
    display: block;
    justify-content:first baseline;
    align-items: center;

    height: 25%;
    width: 110%;
    background-color: #233643;  /* Adjust background color as needed */
  }
  .about_creator_text{
    margin-left: 26%;
  }
  .nav-bar-brand {
    font-size: 1rem;  /* Adjust font size as needed */
    margin-left: 11%;
    display: flex;
    color: white;
  }
  .nav-bar-brand img{
    margin-top: 3%;
  }
  /* Add box-sizing to relevant elements */
.nav-bar, .search-bar {
  /* box-sizing: border-box; */
}

/* Adjust width and padding as needed */
.nav-bar {
  width: 100%;
  padding: 1rem 0; /* Reduce horizontal padding if necessary */
}

.search-bar {
  width: 80%; /* Adjust width as needed */
  padding: 0.5rem;
}

  
  #logo-image{
    height: 50px;
    width: 50px;
    margin-left: 5%;
   }
   .search-bar-container {
    display: flex;

    margin-left: 10%;
    width: 100%;
  }
  
  
  
  
  .search-bar {
    box-sizing: border-box;
    width: 80%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;  /* Adjust border style as needed */
    border-radius: 4px;  /* Adjust border radius as needed */
    margin-left:10%;
  }
  #search-bar{
    box-sizing: border-box;
    display: flex;
    width: 85%;
    min-width: 400px;
    margin-left:10%;
  }
  
  #search_icon{
    /* position:  absolute; */
    /* margin-top: 5px;
    max-width: 30px;
    max-height: 30px;
    margin-left: 20%; */
    position: absolute;
    visibility: hidden;
    /* top: 38%;
    left: 74%; */
  }
  #search-icon-container{
    margin-left: 5%;
  }
  #menu-logo{
    position: absolute;
    top:13%;
    left:2%;
    height: 35px;
    width: 37px;
  }
  .bottom-end{
    height: 40px;
  }
  body {
    margin: 0;
    padding: 0;
}
#compare_icon{
  height: 30px;
  width: 39px;

}
#compare-listing-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  top:65%;
  left:60%;
}

#compare-dropdown{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 150px;
  height: 400px;
  border-radius: 3px;
 
  outline: 2px solid rgb(192, 189, 189)
}

.comparing-listing-planes-container{
  list-style: none;
  width: 100%;
  margin-top: 1px;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.comparing-listing-planes-container :hover{
  background-color: rgb(212, 208, 208);
}
.compare-specific-plane-text{
  margin-left: 10px;
  margin-top: 3px;
}

.remove-image{
  margin-left: 30px;
  width: 23px;
  height: 23px;
}    
#compare-icon-container-display-page{
  margin-left: 40px;
  margin-top: 14px;
  width: 60px;
  height: 60px;;
}
#compare_icon_display{
  width: 60px;
  height: 47px;;
}
#compare_icon{

  width: 60px;
  height: 47px;;
}
#compare-button-display{
  background-color:  #1d2d38;
      width: 80px;
     height: 40px;;
     margin-top: 70px;
     margin-left: 30px;
     border-radius: 40px;
     color: white;
}
.add-compare-display{
  margin-top: 46px;
  border-radius: 40px;
   margin-left: 38px;
   background-color: white;
  width: 120px;
  height: 60px;
}
.add-compare-display:hover{
  background-color: #233643;
  color:white
}
}


/*this is for desktop UI*/
@media (min-width: 992px) { /* For desktops (over 992px) */
  .nav-bar {
    position: sticky !important;
    display: flex;
    justify-content:first baseline;
    align-items: center;
    border-color: #233643;
    padding: 30px 30px;
    height: 40px;
    width: 100%;
    background-color: #233643;  /* Adjust background color as needed */
  }
  .nav-bar-brand {
    font-size: 1.5rem;  /* Adjust font size as needed */
    display: flex;
    color: white;
  }
  #logo-image{
    height: 80px;
    width: 80px;
    margin-top: 5%;
   }
   .search-bar-container {
    display: flex;
    flex-grow: 1;  /* Make the search bar container grow to fill available space */
  }
  .search-bar {
    box-sizing: border-box;
    margin-left:25%;
    width: 70%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;  /* Adjust border style as needed */
    border-radius: 4px;  /* Adjust border radius as needed */
  }
  #search-bar{
    box-sizing: border-box;
    display: flex;
    width: 70%;
    min-width: 400px;
  }
  
  #search_icon{
    /* position:  absolute; */
    margin-top: 5px;
    max-width: 30px;
    max-height: 30px;
    margin-left: 0px;
    padding-left: 10px;
    /* top: 38%;
    left: 74%; */
  }
  #menu-logo{
    position: absolute;
    top:13%;
    left:2%;
    height: 35px;
    width: 37px;
    visibility: hidden;
  }
  #compare_icon{
    max-height: 30px;
    max-width: 39px;

  }

  #compare-listing-container{
    display: flex;
    flex-direction: row;
  }

  #compare-dropdown{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 150px;
    height: 400px;
    border-radius: 3px;
   
    outline: 2px solid rgb(192, 189, 189)
  }

  .comparing-listing-planes-container{
    list-style: none;
    width: 100%;
    margin-top: 1px;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
  }

  .comparing-listing-planes-container :hover{
    background-color: rgb(212, 208, 208);
  }
  .compare-specific-plane-text{
    margin-left: 10px;
    margin-top: 3px;
  }
 
  .remove-image{
    margin-left: 30px;
    width: 23px;
    height: 23px;
  }    
  #compare-icon-container-display-page{
    margin-left: 40px;
    margin-top: 14px;
    width: 60px;
    height: 60px;;
  }
  #compare_icon_display{
    width: 60px;
    height: 47px;;
  }
  #compare_icon{
 
    width: 60px;
    height: 47px;;
  }
  #compare-button-display{
    background-color:  #1d2d38;
        width: 80px;
       height: 40px;;
       margin-top: 70px;
       margin-left: 30px;
       border-radius: 40px;
       color: white;
  }
  .add-compare-display{
    margin-top: 46px;
    border-radius: 40px;
     margin-left: 38px;
     background-color: white;
    width: 120px;
    height: 60px;
    outline: 2px solid #1d2d38
  }
  .add-compare-display:hover{
    background-color: #233643;
    color:white
  }
}




#main-image{
  width:2020px;
  height: 800px;
  max-width: 1393px;

}
#main_container{
  width:2020px;
  max-width: 1393px;
  height:2400px;
  background-color:rgb(218, 224, 230);
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;

}
#main-search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.search-result h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-result img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.search-result ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result li {
  margin-bottom: 5px;
}

.search-result li span {
  font-size: 14px;
  color: #666;
}

.search-result li i {
  font-size: 16px;
  margin-right: 5px;
}
.search-result:hover{
  background-color: #878383;
}


#container {
  /* display: flex;
  flex-direction: row; */
}

#filters {

  height: 400px;
  width: 13%;
  padding-right: 10px;
  border: 1px solid #ccc;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}


#filter_list{
  list-style: none !important;
}
#filters h4 {
  margin-left:60px;
}
.display-column {
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc;
}

.filter-inline-range{
  display: inline-flex;
  max-height: 20px;
}

.filter-highest-container{
  max-width: 40px;
}

.filter-lowest-container{
  max-width: 40px;
}

#search-container{
  display: flex ;
}